<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="XmlRestApp.RestService">
        <host>
          <baseAddresses>
            <add    baseAddress="http://192.168.100.2:8040"></add>
          </baseAddresses>
        </host>
        <endpoint   name=""
                    address=""
                    contract="XmlRestApp.IRestService"
                    binding="customBinding"
                    bindingConfiguration="webHttp">

        </endpoint>
      </service>
    </services>
    <client>
      <endpoint     name="XmlRestApp.RestClient"
                    address="http://192.168.100.2:8040"
                    contract="XmlRestApp.IRestService"
                    binding="customBinding"
                    bindingConfiguration="webHttp"
                    />
    </client>
    <bindings>
      <customBinding>
        <binding name="webHttp">
          <webMessageEncoding/>
          <httpTransport></httpTransport>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>